<!DOCTYPE html>
<html lang="en" class="[scrollbar-gutter:stable]">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title suffix=" · Phoenix Framework">
      <%= assigns[:page_title] || "Bettingsystem" %>
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
  </head>
  <body class="flex flex-col h-screen bg-gray-50 antialiased">
    <header class="px-4 sm:px-6 lg:px-8 bg-white shadow-md">
      <div class="flex items-center justify-between border-b border-zinc-100 py-5 text-sm">
        <div class="flex items-center gap-4">
          <a href="/">
            <img src={~p"/images/logo.svg"} width="36" />
          </a>
          <p class="bg-brand/5 text-brand rounded-full px-2 font-medium leading-6">
            v<%= Application.spec(:phoenix, :vsn) %>
          </p>
      </div>
      <ul class="relative z-10 flex items-center gap-4 px-4 sm:px-6 lg:px-8 justify-end">
      <%= if @current_user_accounts do %>
        
      <%= if @current_user_accounts.role_id == 1  do %>
      <div class="flex flex-row gap-4 mx-8">
        <li class="text-[0.8125rem] leading-6 text-zinc-900">
           <.link
            href={~p"/admin/users"}
            class="text-[0.8125rem] leading-6 text-zinc-900 font-semibold hover:text-zinc-700"
          >
            Users
          </.link>
        </li>
        <li class="text-[0.8125rem] leading-6 text-zinc-900">
           <.link
            href={~p"/admin/matches"}
            class="text-[0.8125rem] leading-6 text-zinc-900 font-semibold hover:text-zinc-700"
          >
            Matches
          </.link>
        </li>
      </div>
      <% end %>

       <li class="text-[0.8125rem] leading-6 text-zinc-900">
           <.link
            href={~p"/user-bets"}
            class="text-[0.8125rem] leading-6 text-zinc-900 font-semibold hover:text-zinc-700"
          >
            Bets
          </.link>
        </li>
       
        <li class="text-[0.8125rem] leading-6 text-zinc-900">
          <%= @current_user_accounts.first_name %>
        </li>
        <li>
          <.link
            href={~p"/user_acconts/settings"}
            class="text-[0.8125rem] leading-6 text-zinc-900 font-semibold hover:text-zinc-700"
          >
            Settings
          </.link>
        </li>
        <li>
          <.link
            href={~p"/user_acconts/log_out"}
            method="delete"
            class="text-[0.8125rem] leading-6 text-zinc-900 font-semibold hover:text-zinc-700"
          >
            Log out
          </.link>
        </li>
      <% else %>
        <li>
          <.link
            href={~p"/user_acconts/register"}
            class="text-[0.8125rem] leading-6 text-zinc-900 font-semibold hover:text-zinc-700"
          >
            Register
          </.link>
        </li>
        <li>
          <.link
            href={~p"/user_acconts/log_in"}
            class="text-[0.8125rem] leading-6 text-zinc-900 font-semibold hover:text-zinc-700"
          >
            Log in
          </.link>
        </li>
      <% end %>
    </ul>
      </div>
    </header>
   <main class="flex flex-col h-full">
     <%= @inner_content %>
   </main>
  </body>
</html>
